# Machine learning project
The purpose of this project is showing my skills

In [1]:
# imports 
import pandas as pd
import joblib
from sklearn.preprocessing import LabelEncoder
from sklearn import tree
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [2]:
na_vals = ['ERROR']
df = pd.read_csv(r'data/music.csv', na_values = na_vals)

In [3]:
df.head()

    age  gender   genre
0  20.0       1  HipHop
1  23.0       1  HipHop
2  25.0       1  HipHop
3  51.0       1     NaN
4  26.0       1    Jazz

In [4]:
# working with data

df.dropna(axis = 'index', how = 'any', inplace = True) # dropping null values

df.drop_duplicates(inplace = True)

In [5]:
df

     age  gender      genre
0   20.0       1     HipHop
1   23.0       1     HipHop
2   25.0       1     HipHop
4   26.0       1       Jazz
5   29.0       1       Jazz
6   30.0       1       Jazz
7   31.0       1  Classical
8   33.0       1  Classical
9   37.0       1  Classical
10  20.0       0      Dance
11  21.0       0      Dance
13  25.0       0      Dance
14  26.0       0   Acoustic
15  27.0       0   Acoustic
16  30.0       0   Acoustic
17  31.0       0  Classical
18  34.0       0  Classical
19  35.0       0  Classical

In [6]:
# creating

In [7]:
# creating input and output dataframes

inputs = df.drop('genre', axis = 'columns')
target = df['genre']

input_train, input_test, target_train, target_test = train_test_split(inputs, target, test_size= 0.2)

In [8]:
inputs['age'] = inputs['age'].astype(int)

In [9]:
inputs.dtypes

age       int64
gender    int64
dtype: object

In [16]:
# creating and teaching a model, then saving it into a file

model = tree.DecisionTreeClassifier()
model.fit(inputs.values, target)

joblib.dump(model, 'music-model.joblib')

['music-model.joblib']

In [14]:
# loading model from a file (in case we have a .joblib binary) if not, just run the cell above

model = joblib.load('music-model.joblib')

In [17]:
# create a prediction

predictions = model.predict([ [21,1], [28,0] ])
predictions

array(['HipHop', 'Acoustic'], dtype=object)

In [13]:
# calculating prediction score

score_model = tree.DecisionTreeClassifier()
score_model.fit(input_train, target_train)

score_prediction = score_model.predict(input_test)

score = accuracy_score(target_test, score_prediction)

score

1.0

In [15]:
# visualising decision tree

tree.export_graphviz(model, out_file= 'dec_tre.dot',
                    feature_names = ['age', 'gender'],
                    class_names = sorted(target.unique()),
                    label = 'all',
                    rounded = True,
                    filled = True)