# Machine learning project
The purpose of this project is showing my skills

In [34]:
# imports 
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn import tree

In [5]:
na_vals = ['ERROR']
df = pd.read_csv(r'data/music.csv', na_values = na_vals)

In [6]:
df

     age  gender      genre
0   20.0       1     HipHop
1   23.0       1     HipHop
2   25.0       1     HipHop
3   51.0       1        NaN
4   26.0       1       Jazz
5   29.0       1       Jazz
6   30.0       1       Jazz
7   31.0       1  Classical
8   33.0       1  Classical
9   37.0       1  Classical
10  20.0       0      Dance
11  21.0       0      Dance
12  21.0       0      Dance
13  25.0       0      Dance
14  26.0       0   Acoustic
15  27.0       0   Acoustic
16  30.0       0   Acoustic
17  31.0       0  Classical
18  34.0       0  Classical
19  35.0       0  Classical
20   NaN       0  Classical

In [16]:
# working with data

df.dropna(axis = 'index', how = 'any', inplace = True) # dropping null values

df.drop_duplicates(inplace = True)

In [15]:
df

     age  gender      genre
0   20.0       1     HipHop
1   23.0       1     HipHop
2   25.0       1     HipHop
4   26.0       1       Jazz
5   29.0       1       Jazz
6   30.0       1       Jazz
7   31.0       1  Classical
8   33.0       1  Classical
9   37.0       1  Classical
10  20.0       0      Dance
11  21.0       0      Dance
13  25.0       0      Dance
14  26.0       0   Acoustic
15  27.0       0   Acoustic
16  30.0       0   Acoustic
17  31.0       0  Classical
18  34.0       0  Classical
19  35.0       0  Classical

In [24]:
# creating input and output dataframes

inputs = df.drop('genre', axis = 'columns')
target = df['genre']

In [32]:
inputs['age'] = inputs['age'].astype(int)

In [33]:
inputs.dtypes

age       int64
gender    int64
dtype: object

In [ ]:
# creating a model

model = tree.DecisionTreeClassifier()